.koda {
  height: var(--koda-height, 235px);
  overflow: hidden;
  border: 1px solid #3d3d3d;
}

.koda > code {
  display: none;
}

.koda-tabs {
  background-color: #3d3d3d;
  height: var(--koda-tabs-height, 35px);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.koda-tab {
  display: block;
  padding: 0;
}

.koda-tab.active {
  background-color: #ccc;
}

.koda-tab > a {
  display: block;
  height: 100%;
  padding: 0 1em;
  line-height: var(--koda-tabs-height, 35px);
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
}

.koda-tab.active > a {
  color: #000;
}

.koda-tab-result > a {
  text-transform: capitalize;
}

.koda-boxes {
  position: relative;
  height: calc(var(--koda-height, 235px) - var(--koda-tabs-height, 35px));
}

.koda-box {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.koda-box > pre[class*="language-"] {
  margin: 0;
  padding: 1em;
  min-height: calc(100% - 2em);
  overflow: visible;
}

.koda-box-result {
  overflow: hidden;
}

.koda-boxes > .active {
  display: block;
}
