.koda {
  height: var(--koda-height, 235px);
  overflow: hidden;
  border: 1px solid rgb(61, 61, 62);
}

.koda > code {
  display: none;
}

.koda-tabs {
  background-color: darkblue;
  height: var(--koda-tabs-height, 35px);
  line-height: var(--koda-tabs-height, 35px);
}

.koda-tab {
  color: darkgrey;
  text-decoration: none;
}

.koda-tabs > .active {
  color: white;
}

.koda-tab {
  padding: 0 10px;
}

.koda-boxes {
  position: relative;
  height: calc(var(--koda-height, 235px) - var(--koda-tabs-height, 35px));
}

.koda-box {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.koda-box > pre[class*="language-"] {
  margin: 0;
  padding: 1em;
  min-height: calc(100% - 2em);
  overflow: visible;
}

.koda-box-result {
  overflow: hidden;
}

.koda-boxes > .active {
  display: block;
}
